@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SENG 401 - Assignment 4</h1>
    <p class="lead">APIs to modify companies and reviews</p>
    <p class="lead">Satyaki Ghosh, Naveed Sorush, Artin Rezaee, Allan Varkey</p>
</div>

<div class="row">
    <div class="col-md-4">
        API Commands:<br>
        GET http://35.184.242.86/api/company
        <br><br>


        API Commands:<br>
        GET http://35.184.242.86/api/reviews/#companyid
        <br><br>

        API Commands:<br>
        POST http://35.184.242.86/api/reviews
        <br>
        Body:
        <br>{
        <br>&nbsp;&nbsp;Review: "comment",
        <br>&nbsp;&nbsp;User: "name",
        <br>&nbsp;&nbsp;Rating: 3,
        <br>&nbsp;&nbsp;CompanyId: 1
        <br>}
        <br><br>

        API Commands:<br>
        POST http://35.184.242.86/api/update
        <br>
        Body:
        <br>{
        <br>&nbsp;&nbsp;Review_Id: 2,
        <br>&nbsp;&nbsp;Review: "comment",
        <br>&nbsp;&nbsp;User: "name",
        <br>&nbsp;&nbsp;Rating: 2,
        <br>&nbsp;&nbsp;Timestamp: 1519109975,
        <br>&nbsp;&nbsp;Company_Id: 1
        <br>}


    </div>
</div>