@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SENG 401 - Assignment 4</h1>
    <p class="lead">APIs to modify companies and reviews</p>
    <p class="lead">Satyaki Ghosh, Naveed Sorush, Artin Rezaee, Allan Varkey</p>
</div>

<div class="row">
    <div class="col-md-4">

        Get list of all companies:<br>
        GET http://35.226.176.140/api/company
        <br><br><br>


        Get a specific companies:<br>
        GET http://35.226.176.140/api/company/#CompanyId
        <br><br><br>


        Create a new company:<br>
        POST http://35.226.176.140/api/company
        <br>
        Body:
        <br>{
        <br>&nbsp;&nbsp;Name: "company name",
        <br>&nbsp;&nbsp;Description: "company description",
        <br>}
        <br><br><br>


        Get reviews of a specfic company:<br>
        GET http://35.226.176.140/api/reviews/#CompanyId
        <br><br><br>


        Save a review for a company:<br>
        POST http://35.226.176.140/api/reviews
        <br>
        Body:
        <br>{
        <br>&nbsp;&nbsp;Review: "review",
        <br>&nbsp;&nbsp;User: "user name",
        <br>&nbsp;&nbsp;Rating: 3,
        <br>&nbsp;&nbsp;CompanyId: 1
        <br>}
        <br><br><br>


        Update a review for a company:<br>
        POST http://35.226.176.140/api/update
        <br>
        Body:
        <br>{
        <br>&nbsp;&nbsp;ReviewId: 2,
        <br>&nbsp;&nbsp;Review: "comment",
        <br>&nbsp;&nbsp;User: "name",
        <br>&nbsp;&nbsp;Rating: 2,
        <br>&nbsp;&nbsp;Timestamp: 1519109975,
        <br>&nbsp;&nbsp;CompanyId: 1
        <br>}


    </div>
</div>