<!-- Create a grid list with 12 cols and row height of 150px-->
<mat-grid-list cols="12" rowHeight="150px">

  <!-- Create the tiles (the three coloumns) by looping through the array of tiles in the .ts file. for each tile, assign the colspan and rowspan that is specified in the array for each tile-->
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
    <mat-grid-tile-header>
      {{tile.text}}
    </mat-grid-tile-header>

    <!--Table to keep the cards organized in-->
    <table style="width:100%; padding-top:40px">

      <!--Loop through the tasks array in the .ts file and create a card from each taks-->
      <tr *ngFor="let task of tasks">
        <!-- Display the card in the coloum which has the header similar to the status of the card-->
        <td *ngIf="task.status == tile.text">

          <mat-card>
            <mat-card-content style="text-align:center">
              {{task.text}} <br>
              <!-- Only display this attribute when there is an assignee-->
              <p *ngIf="task.assignee">Assigned to: {{task.assignee}}<p>
            </mat-card-content>
            <mat-card-actions>
              <!-- Only display this button when the status of the task is In Progress-->
              <button mat-button *ngIf="task.status == 'In Progress'" (click)="updateTask(task, 'done')">Done</button>
              <!-- Only display this button when the status of the task is Todo -->
              <button mat-button *ngIf="task.status == 'Todo'" (click)="openDialog(task)">Assign</button>
            </mat-card-actions>
          </mat-card>
          
        </td>
      </tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>
