<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions2.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Search for companies by name</h2>

@using (Html.BeginForm("Search", "CompanyListings", FormMethod.Post,
        new { id = "searchForm", onsubmit = "return validateSearchForm()" }))
{
    <br />

    @Html.TextBox("textCompanyName")
    <input type="submit" value="Search" />
    <br /><br /><br />


}
@if (ViewBag.Companylist != null)
{
    if (!ViewBag.Index)
    {
        <p style="font-size:larger">Results:</p> <br />
    }
    if (ViewBag.Index)
    {
        <p style="font-size:larger">List of all companies:</p> <br />
    }

    foreach (string item in ViewBag.Companylist)
    {
        @Html.ActionLink(item, "DisplayCompany", "CompanyListings", new { id = item }, null);
        <br />
    }
}

<div class="error">
    @ViewBag.SearchResponse
</div>
